<?php

return [
    'date' => [
        'from' => 'yyyy-mm-dd',
        'to' => 'yyyy-mm-dd',
    ],
    'users' => [
        userId1, // id of user from redmine database
        userId2,
    ],
    'redmine' => [
        'host' => '***', // with protocol
        'login' => '***',
        'pass' => '****'
    ]
];
